.header {
  display: flex;
  justify-content: space-between;
  background-color: #F52846;
  color: #FFFFFF;
  height: 2em;
  align-items: center;
  padding: 8px;
}

.hamburger-icon {
  display: block;
}

.navigation {
  visibility: hidden;
}

.hamburger-navigation {
  display: flex;
  flex-direction: column;
}

.hamburger-nav-items {
  padding: 8px;
  background-color: #b72437;
  color: #FFFFFF;
}

.hamburger-nav-items-selected {
  background-color: yellow;
  color: black;
}

@media (min-width: 800px) {
  .navigation {
    visibility: visible;
  }

  .navigation-item {
    margin-left: 8px;
    font-weight: 400;
    cursor: pointer;
  }

  .navigation-item:hover {
    color: black;
  }

  .navigation-item-selected {
    color: yellow;
  }

  .hamburger-icon {
    display: none;
  }

  .hamburger-navigation {
    display: none;
  }
}
